
body {
    font-size: 14px;
    color: red;
}
body {
    font-size: 14px;
    color: black;
}

body {
    color: beige;
    background-color: black;
}
h1 {
    background-color: red;
}
#top {
    background-color: #ccc;
    padding: 20px
}


h1{
  border-bottom:rgb(139, 0, 0) 10px solid}
 
h1 {letter-spacing:10px }
h1 {  text-align: center}

h2 {background-color: green}
.cocomelk{color: black}
a:active {
    color: red;
}

a:hover {
    text-decoration:none ;
    color: blue;
    background-color: purple;
}

